@font-face {
  font-family: "Sangha Kali";
  font-style: normal;
  src: local(Sangha Kali);
  /* src: url("./SanghaKali-Regular.otf") format("otf"); */
}

body {
  font-weight: 400px;

  font-family: "Sangha Kali", sans-serif;
  /* display: flex;
  justify-content: center;
  margin: 0; */
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Kaushan Script", cursive; */
  /* font-family: cursive; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .btn {
  border: none;
} */

.img-fluid {
  height: 100%;
}

.card-body {
  height: 100%;
}
/* .btn-warning {
  /* margin-left: 50%; */
/* margin-top: -11%;  */

.btn-secondary {
  background-color: rgb(109, 38, 202);
}

.list-group-item.active {
  background-color: rgb(109, 38, 202);
  border-color: rgb(109, 38, 202);
}

.page-item.active .page-link {
  background-color: rgb(109, 38, 202);
  border-color: rgb(109, 38, 202);
}

.page-link {
  color: rgb(109, 38, 202);
}

.btn-all-product {
  margin-top: 20px;
  display: block;
  margin-left: 60px;
}

a {
  text-decoration: none;
}

.nav {
  background-color: rgb(132, 197, 76);
  margin-bottom: 20px;
}
/* .bi {
  width: 100%;
  height: 100%;
} */

/* #root {
  background-color: wheat
} */
